h1 {
    color: red;
    font-size: 35px;
    font-family: 'Bad Script', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

img {
    margin-right: 25px
}

#violet {
    color: darkviolet;
    font-size: 20px
}

#green {
    color: limegreen;
    font-size: 20px
}

p.main{
    font-size: 25px;
}