<html>
<head>
<title> Квартира Куинджи </title>
<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<img src="{{url_for('static', filename='img/Форзац_001.jpg')}}" align="left"> <h1 align="right"> Путеводитель по музею-квартире А.И. Куинджи </h1>
<p>
<h2> Оглавление путеводителя </h2>
<ol>
<li> <a href="{{ url_for('f_gostinaya') }}"> Гостиная </a> </li>
<li> <a href="{{ url_for('f_kabinet') }}"> Кабинет </a> </li>
<li> <a href="{{ url_for('f_masterskaya') }}"> Мастерская </a> </li>
</ol>
</p>
<p>
<h2> Самые известные картины А.И. Куинджи: </h2>
<ul>
<li> <a href="https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%BD%D0%BD%D0%B0%D1%8F_%D0%BD%D0%BE%D1%87%D1%8C_%D0%BD%D0%B0_%D0%94%D0%BD%D0%B5%D0%BF%D1%80%D0%B5"> "Лунная ночь на Днепре" </a> </li>
<li> <a href="https://ru.wikipedia.org/wiki/%D0%92%D0%B5%D1%87%D0%B5%D1%80_%D0%BD%D0%B0_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B5"> "Вечер на Украине" </a> </li>
<li> <a href="https://ru.wikipedia.org/wiki/%D0%91%D0%B5%D1%80%D1%91%D0%B7%D0%BE%D0%B2%D0%B0%D1%8F_%D1%80%D0%BE%D1%89%D0%B0_(%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%B0_%D0%9A%D1%83%D0%B8%D0%BD%D0%B4%D0%B6%D0%B8)"> "Берёзовая роща" </a> </li>
<li> <a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%B4%D0%BE%D0%B6%D1%81%D0%BA%D0%BE%D0%B5_%D0%BE%D0%B7%D0%B5%D1%80%D0%BE_(%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%B0_%D0%9A%D1%83%D0%B8%D0%BD%D0%B4%D0%B6%D0%B8)"> "Ладожское озеро" </a> </li>
<li> <a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D1%87%D0%BD%D0%BE%D0%B5_(%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%B0_%D0%9A%D1%83%D0%B8%D0%BD%D0%B4%D0%B6%D0%B8)"> "Ночное" </a> </li>
</ul>
</p>
<h3> Контакты музея-квартиры А.И. Куинджи: </h3>
<a href="https://artsacademymuseum.org/branches/muzei-kvartira-a-i-kuindzhi/"> Официальный сайт </a>
<br>Телефон для справок по музею: +7(999)024-25-90
<h3> Как добраться до музея: </h3>
<ul>
 <li><h3 id="violet"> От станции метро «Спортивная» (выход на ВО): </h3> По набережной Макарова до Биржевой линии. Затем поворачиваем направо в Биржевой переулок и идем до арки (по правой стороне переулка), рядом с которой висит доска «Музей-квартира А.И.Куинджи». </li>
 <li><h3 id="green"> От станции метро «Василеостровская»: </h3> По Среднему проспекту ВО идем до набережной Макарова. Затем направо по набережной до Биржевой линии. Затем поворачиваем направо в Биржевой переулок и идем до арки (по правой стороне переулка), рядом с которой висит доска «Музей-квартира А.И.Куинджи». </li>
</ul>
<img src="{{url_for('static', filename='img/Адрес_001.jpg')}}" align="right">
</body>
</html>