<html>
<head>
<title> Мастерская </title>
</head>
<body>
<img src="{{url_for('static', filename='img/Мастерская_001.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_002.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_003.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_004.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_005.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_006.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_007.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_008.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_009.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_010.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_011.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_012.jpg')}}">

</body>
</html>