<html>
<head>
<title> Мастерская </title>
<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
</head>
<body>
<img src="{{url_for('static', filename='img/Мастерская_001.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_002.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_003.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_004.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_005.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_006.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_007.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_008.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_009.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_010.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_011.jpg')}}">
<img src="{{url_for('static', filename='img/Мастерская_012.jpg')}}">

<p class="main"> <a href="{{ url_for('hello_world') }}">На главную страницу</a> </p>
</body>
</html>